In [1]:
import pandas as pd

In [2]:
PREDICTION = 'Results/prediction1.txt'
HIERARCHY = 'RawData/testTrack_hierarchy.txt'
OUTPUT = 'Submissions/submission1.txt'

In [3]:
users = pd.read_csv(HIERARCHY, sep='|', header=None, usecols=[0, 1])

In [4]:
users

             0       1
0       199810  208019
1       199810   74139
2       199810    9903
3       199810  242681
4       199810   18515
...        ...     ...
119995  249010   72192
119996  249010   86104
119997  249010  186634
119998  249010  293818
119999  249010  262811

[120000 rows x 2 columns]

In [9]:
prediction = pd.read_csv(PREDICTION, header=None)

In [10]:
prediction

        0
0       0
1       0
2       0
3       1
4       1
...    ..
119995  0
119996  0
119997  1
119998  0
119999  1

[120000 rows x 1 columns]

In [12]:
users['prediction'] = prediction[0]

In [13]:
users['Submission'] = users[0].astype(int).astype(str).str.cat(users[1].astype(int).astype(str), sep='_')

In [14]:
users.to_csv(OUTPUT, columns=['Submission', 'prediction'], index=False, mode='a', header=False)